body {
    background-color: #343a40;
}
.doughnutChart{
    display: inline-block;
    width: 47%;
}
.salaryChart{
    display: inline-block;
    width: 47%;
    vertical-align: top;
}
.salaryTitle{
    text-align: center;
    color:white;
}
.doughnutTitle{
    text-align: center;
    color:white;
}

.jobsAddedChart{
    display: block;
    width: 50%;
    margin-top: 15px;
    margin: 0 auto;
}
.jobsAddedTitle{
    text-align: center;
    color:white;
}
